
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$fuente_principal: "Sora", sans-serif;

// COLORES 
$morado: #7C19EE;
$grisClaro: #F2EAFD;
$grisOscuro: #E5EAF0;
$gris: #FAFAF9;
$blanco: #FFFFFF;
$negro: #20293A;
$negroClaro: #394150;
