
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main{
    
    color: $negro;
    border-radius: 2rem;
    max-width: 30rem;
    -webkit-box-shadow: 10px 10px 50px -18px rgba(0,0,0,0.13);
    -moz-box-shadow: 10px 10px 50px -18px rgba(0,0,0,0.13);
    box-shadow: 10px 10px 50px -18px rgba(0,0,0,0.13);
    
    .card{
        
        padding: 1.5rem;
        /* HEADER */
        .header{
            margin-bottom:1rem ;
            img{
                width: 100%;
                border-radius: 1rem;
                margin-bottom: 1rem;
            }

            p{
                background-color: $grisClaro;
                text-align: center;
                padding: .5rem 0;
                border-radius: 2rem;
                max-width: 7rem;
               
                
                font-weight: 700;
                color: $morado;
                margin-left: .5rem;
            }
        }

        /* TEXT */
        .card-text{
            
            h1{
                font-size: 1.8rem;
                
            }

            p{
                font-size: 1.4rem;
                font-weight: 400;
                color: $negroClaro;
                line-height: 2rem;
            }
        }




    }
}
/* FOOTER */
.footer{
    width: 100%;
    border-top: 1px solid $grisOscuro;
 
    border-radius: 0 0 2rem 2rem ;
  
    p{
        font-size: 1.2rem;
        padding: 2rem 2rem 2rem 1.5rem;

    }
}